html, body {
  margin : 0;
  padding : 0;
  width : 100%;
  height : 100%;
}

body {
  background: chartreuse;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
}
