html, body {
   width: 100%;
   height: 100%;
   margin: 0;

   /* issu de https://www.magicpattern.design/tools/css-backgrounds */
   background-color: #e5e5f7;
   background-image:  linear-gradient(135deg, #d6ffa1 25%, transparent 25%), linear-gradient(225deg, #d6ffa1 25%, transparent 25%), linear-gradient(45deg, #d6ffa1 25%, transparent 25%), linear-gradient(315deg, #d6ffa1 25%, #fff 25%);
   background-position:  10px 0, 10px 0, 0 0, 0 0;
   background-size: 10px 10px;
   background-repeat: repeat;
}

body {
   display: flex;
   flex-flow: row;
   overflow: hidden;
}

path {
   /* n'intercepte pas les événement souris */
   pointer-events: none;
}

.dessin {
   overflow: clip;
}

body > .dessin {
   width: 50%;
}

.conteneur-vertical {
   width: 50%;
   display: flex;
   flex-direction: column;
}
.conteneur-vertical > .dessin {
   height: 50%;
   flex-grow: 1;
}
