/* μ-css-reset */

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* body */

body {
  background: black;
  font-family: helvetica, arial, sans-serif;
  display: flex;
  flex-flow: column;
  text-align: center;
}

/* titre */

h1 {
  margin: 1em;
  color: white;
}

/* styles du conteneur */

.conteneur {
  flex: 1;
  display: flex;
  flex-flow: column;
  border-radius: 1em;
  background: white;
  padding: 1em;
}

/* style des nouveaux éléments ajouté en js (avec la classe .nouvel_element) */

.nouvel_element {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background: firebrick;
  border-radius: 1em;
  color: white;
  font-weight: bold;
}
