/* on occupe la totalité de l'espace de la fenêtre*/
html, body { width: 100%; height: 100%; margin: 0; padding: 0; }

body {
  /* affichage flex par défaut (flot horizontal) */
  display: flex;
  font-family: helvetica, arial, sans-serif;
}

/* on enlève les marges par défaut des titres de niveau 2 */
h2 { margin: 0; }

/* marge du bouton 'prendre une photo' */
#bouton { margin: 0 0 5px 0; }

/* on cache les élément avec l'attribut aria-hidden à true */
[aria-hidden=true] { display: none; }

/* commun aux différentes zones*/
.zone {
  padding: 5px; /* marge intérieure */
}

/* la zone qui accueille l'affichage de la webcam */
.zone--webcam {
  background: #f0f0f0; /* couleur de fond */
  width: 170px; /* largeur = largeur paramétrée dans video.js + 2 * padding de 5px */
  text-align: center; /* on aligne au centre le contenu */
}

/* la zone qui accueille les images reçues via le réseau */
.zone--reception {
  background: #fefefe; /* couleur de fond */
  flex-grow: 1; /* on remplit horizontalement l'espace libre */
}
