html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.objet-svg {
  width: 100vh;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vw;
}
